@charset "UTF-8";

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: url(../font/Pretendard-Thin.woff2) format('woff2'),
         url(../font/Pretendard-Thin.woff) format('woff'),
         url(../font/Pretendard-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: url(../font/Pretendard-ExtraLight.woff2) format('woff2'),
         url(../font/Pretendard-ExtraLight.woff) format('woff'),
         url(../font/Pretendard-ExtraLight.otf) format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: url(../font/Pretendard-Light.woff2) format('woff2'),
         url(../font/Pretendard-Light.woff) format('woff'),
         url(../font/Pretendard-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Pretendard-Regular.woff2) format('woff2'),
        url(../font/Pretendard-Regular.woff) format('woff'),
        url(../font/Pretendard-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: url(../font/Pretendard-Medium.woff2) format('woff2'),
         url(../font/Pretendard-Medium.woff) format('woff'),
         url(../font/Pretendard-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: url(../font/Pretendard-SemiBold.woff2) format('woff2'),
        url(../font/Pretendard-SemiBold.woff) format('woff'),
        url(../font/Pretendard-SemiBold.otf) format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;

    src: url(../font/Pretendard-Bold.woff2) format('woff2'),
        url(../font/Pretendard-Bold.woff) format('woff'),
        url(../font/Pretendard-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: url(../font/Pretendard-ExtraBold.woff2) format('woff2'),
        url(../font/Pretendard-ExtraBold.woff) format('woff'),
        url(../font/Pretendard-ExtraBold.otf) format('opentype');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: url(../font/Pretendard-Black.woff2) format('woff2'),
        url(../font/Pretendard-Black.woff) format('woff'),
        url(../font/Pretendard-Black.otf) format('opentype');
}

/* ScoerDream */
@font-face {
    font-family: 'Scdream';
    font-style: normal;
    font-weight: 100;
    src:url(../font/SCDream1.woff) format('woff'),
        url(../font/SCDream1.otf) format('opentype');
}
@font-face {
    font-family: 'Scdream';
    font-style: normal;
    font-weight: 200;
    src:url(../font/SCDream2.woff) format('woff'),
        url(../font/SCDream2.otf) format('opentype');
}
@font-face {
    font-family: 'Scdream';
    font-style: normal;
    font-weight: 300;
    src:url(../font/SCDream3.woff) format('woff'),
        url(../font/SCDream3.otf) format('opentype');
}
@font-face {
    font-family: 'Scdream';
    font-style: normal;
    font-weight: 400;
    src:url(../font/SCDream4.woff) format('woff'),
        url(../font/SCDream4.otf) format('opentype');
}
@font-face {
    font-family: 'Scdream';
    font-style: normal;
    font-weight: 500;
    src:url(../font/SCDream5.woff) format('woff'),
        url(../font/SCDream5.otf) format('opentype');
}
@font-face {
    font-family: 'Scdream';
    font-style: normal;
    font-weight: 600;
    src:url(../font/SCDream6.woff) format('woff'),
        url(../font/SCDream6.otf) format('opentype');
}
@font-face {
    font-family: 'Scdream';
    font-style: normal;
    font-weight: 700;
    src:url(../font/SCDream7.woff) format('woff'),
        url(../font/SCDream7.otf) format('opentype');
}
@font-face {
    font-family: 'Scdream';
    font-style: normal;
    font-weight: 800;
    src:url(../font/SCDream8.woff) format('woff'),
        url(../font/SCDream8.otf) format('opentype');
}
@font-face {
    font-family: 'Scdream';
    font-style: normal;
    font-weight: 900;
    src:url(../font/SCDream9.woff) format('woff'),
        url(../font/SCDream9.otf) format('opentype');
}

/* Noto Sans - kr 
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    src: url(../../font/NotoSansKR-Light.woff2) format('woff2'),
        url(../../font/NotoSansKR-Light.woff) format('woff'),
        url(../../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../../font/NotoSansKR-DemiLight.woff2) format('woff2'),
        url(../../font/NotoSansKR-DemiLight.woff) format('woff'),
        url(../../font/NotoSansKR-DemiLight.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(../../font/NotoSansKR-Regular.woff2) format('woff2'),
        url(../../font/NotoSansKR-Regular.woff) format('woff'),
        url(../../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(../../font/NotoSansKR-Medium.woff2) format('woff2'),
        url(../../font/NotoSansKR-Medium.woff) format('woff'),
        url(../../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(../../font/NotoSansKR-Bold.woff2) format('woff2'),
        url(../../font/NotoSansKR-Bold.woff) format('woff'),
        url(../../font/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(../../font/NotoSansKR-Black.woff2) format('woff2'),
        url(../../font/NotoSansKR-Black.woff) format('woff'),
        url(../../font/NotoSansKR-Black.otf) format('opentype');
}
*/

/* 나눔스퀘어 라운드
@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 400;
    src: url(../../font/NanumSquareRoundL.woff),
        url(../../font/NanumSquareRoundL.woff2),
        url(../../font/NanumSquareRoundL.eot),
        url(../../font/NanumSquareRoundL.ttf);
}
@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 500;
    src: url(../../font/NanumSquareRoundR.woff),
        url(../../font/NanumSquareRoundR.woff2),
        url(../../font/NanumSquareRoundR.eot),
        url(../../font/NanumSquareRoundR.ttf);
}
@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 700;
    src: url(../../font/NanumSquareRoundB.woff),
        url(../../font/NanumSquareRoundB.woff2),
        url(../../font/NanumSquareRoundB.eot),
        url(../../font/NanumSquareRoundB.ttf);
}
@font-face {
    font-family: 'NanumSquareRound';
    font-style: normal;
    font-weight: 900;
    src: url(../../font/NanumSquareRoundEB.woff),
        url(../../font/NanumSquareRoundEB.woff2),
        url(../../font/NanumSquareRoundEB.eot),
        url(../../font/NanumSquareRoundEB.ttf);
}
 */

/* 롯데마트 드림체 
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
.lottemartdream * {
 font-family: 'LotteMartDream', sans-serif;
}


/* 롯데마트 행복체 
  @font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
  }
  
  .lottemarthappy * {
   font-family: 'LotteMartHappy', sans-serif;
  }

*/


/* 나눔고딕 
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: url(/_common/font/NanumGothic-Regular.woff2) format('woff2'),
        url(/_common/font/NanumGothic-Regular.woff) format('woff'),
        url(/_common/font/NanumGothic-Regular.eot) format('embedded-opentype');
}
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 700;
    src: url(/_common/font/NanumGothic-Bold.woff2) format('woff2'),
        url(/_common/font/NanumGothic-Bold.woff) format('woff'),
        url(/_common/font/NanumGothic-Bold.eot) format('embedded-opentype');
}

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 900;
    src: url(/_common/font/NanumGothic-ExtraBold.woff2) format('woff2'),
        url(/_common/font/NanumGothic-ExtraBold.woff) format('woff'),
        url(/_common/font/NanumGothic-ExtraBold.eot) format('embedded-opentype');
}
*/

/* 나눔바른고딕 
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 200;
    src: url(/_common/font/NanumBarunGothicUltraLight.woff2) format('woff2'),
        url(/_common/font/NanumBarunGothicUltraLight.woff) format('woff'),
        url(/_common/font/NanumBarunGothicUltraLight.eot) format('embedded-opentype');
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 300;
    src: url(/_common/font/NanumBarunGothicLight.woff2) format('woff2'),
        url(/_common/font/NanumBarunGothicLight.woff) format('woff'),
        url(/_common/font/NanumBarunGothicLight.eot) format('embedded-opentype');
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(/_common/font/NanumBarunGothic.woff2) format('woff2'),
        url(/_common/font/NanumBarunGothic.woff) format('woff'),
        url(/_common/font/NanumBarunGothic.eot) format('embedded-opentype');
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(/_common/font/NanumBarunGothicBold.woff2) format('woff2'),
        url(/_common/font/NanumBarunGothicBold.woff) format('woff'),
        url(/_common/font/NanumBarunGothicBold.eot) format('embedded-opentype');
}
*/